body {
  font-family: Arial, sans-serif;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

/* Styling for the button */
button {
  padding: 10px 20px; /* Add padding for better appearance */
  font-size: 18px; /* Increase font size */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius */
  background-color: #4e8cff; /* Change background color */
  color: white; /* Change text color */
  cursor: pointer; /* Add pointer cursor */
  transition: background-color 0.3s ease;
}

/* Styling for the button on hover */
button:hover {
  background-color: #3469e0; /* Change background color on hover */
}

#groupContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px;
  border: 2px solid black;
  padding: 10px;
}